# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui

dataTermicaNasa = [-0.08,-0.27,0.12,-0.03,-0.26,0.40,1.02]
dataAnoNasa = [1900,1920,1940,1960,1980,2000,2020]

serieNasa = pd.Series(data=dataTermicaNasa)
serieNasa

0   -0.08
1   -0.27
2    0.12
3   -0.03
4   -0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:

# seu código aqui

serieNasa = pd.Series(data=dataTermicaNasa, index=dataAnoNasa)
serieNasa

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980   -0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [18]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

dicTemperaturaNasa = pd.Series(data=dic_temperaturas)
dicTemperaturaNasa

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [20]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

arrDataFrame = pd.DataFrame(arr)
arrDataFrame

             0           1           2
0   107.539731  107.008035   70.505525
1   103.160561   85.917291  101.707984
2    96.156124   99.021967   95.689859
3    92.829459  104.722060   95.737663
4    97.876778  110.858924   85.933628
5   100.334838  109.061023  101.636535
6   106.241525   90.555227  117.799610
7    93.891473  106.146135   95.996694
8   102.967215  110.444875  110.654869
9    91.340414   87.074716   84.726707
10   89.218485   89.468959   96.216576
11  106.310076   94.844434   98.507723
12  107.038647   96.003913   86.533672
13  105.310855  101.952209   91.709422
14  101.072128  111.777783   88.617590
15  111.277778   94.160688   99.113227
16  106.214874  102.318326   99.926620
17  104.402538  102.168443   85.406668
18  101.682584  103.510441  113.895040
19  108.044287   99.065545  101.763273

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [26]:
#seu código aqui
indices = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

arrDataFrame = pd.DataFrame(arr, index=indices, columns=['x1','x2','x3'])
arrDataFrame

            x1          x2          x3
1   107.539731  107.008035   70.505525
2   103.160561   85.917291  101.707984
3    96.156124   99.021967   95.689859
4    92.829459  104.722060   95.737663
5    97.876778  110.858924   85.933628
6   100.334838  109.061023  101.636535
7   106.241525   90.555227  117.799610
8    93.891473  106.146135   95.996694
9   102.967215  110.444875  110.654869
10   91.340414   87.074716   84.726707
11   89.218485   89.468959   96.216576
12  106.310076   94.844434   98.507723
13  107.038647   96.003913   86.533672
14  105.310855  101.952209   91.709422
15  101.072128  111.777783   88.617590
16  111.277778   94.160688   99.113227
17  106.214874  102.318326   99.926620
18  104.402538  102.168443   85.406668
19  101.682584  103.510441  113.895040
20  108.044287   99.065545  101.763273

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [27]:
# seu código aqui
arrDataFrame['media'] = (arrDataFrame['x1'] + arrDataFrame['x2'] + arrDataFrame['x3']) / 3
arrDataFrame

            x1          x2          x3       media
1   107.539731  107.008035   70.505525   95.017764
2   103.160561   85.917291  101.707984   96.928612
3    96.156124   99.021967   95.689859   96.955983
4    92.829459  104.722060   95.737663   97.763061
5    97.876778  110.858924   85.933628   98.223110
6   100.334838  109.061023  101.636535  103.677465
7   106.241525   90.555227  117.799610  104.865454
8    93.891473  106.146135   95.996694   98.678101
9   102.967215  110.444875  110.654869  108.022320
10   91.340414   87.074716   84.726707   87.713946
11   89.218485   89.468959   96.216576   91.634674
12  106.310076   94.844434   98.507723   99.887411
13  107.038647   96.003913   86.533672   96.525411
14  105.310855  101.952209   91.709422   99.657495
15  101.072128  111.777783   88.617590  100.489167
16  111.277778   94.160688   99.113227  101.517231
17  106.214874  102.318326   99.926620  102.819940
18  104.402538  102.168443   85.406668   97.325883
19  101.682584  103.510441  113.895040  106.362688
20  108.044287   99.065545  101.763273  102.957702

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [28]:
# seu código aqui

arrDataFrame['log_med'] = np.log(arrDataFrame['media'])
arrDataFrame

            x1          x2          x3       media   log_med
1   107.539731  107.008035   70.505525   95.017764  4.554064
2   103.160561   85.917291  101.707984   96.928612  4.573975
3    96.156124   99.021967   95.689859   96.955983  4.574257
4    92.829459  104.722060   95.737663   97.763061  4.582547
5    97.876778  110.858924   85.933628   98.223110  4.587242
6   100.334838  109.061023  101.636535  103.677465  4.641285
7   106.241525   90.555227  117.799610  104.865454  4.652678
8    93.891473  106.146135   95.996694   98.678101  4.591863
9   102.967215  110.444875  110.654869  108.022320  4.682338
10   91.340414   87.074716   84.726707   87.713946  4.474081
11   89.218485   89.468959   96.216576   91.634674  4.517810
12  106.310076   94.844434   98.507723   99.887411  4.604044
13  107.038647   96.003913   86.533672   96.525411  4.569806
14  105.310855  101.952209   91.709422   99.657495  4.601739
15  101.072128  111.777783   88.617590  100.489167  4.610050
16  111.277778   94.160688   99.113227  101.517231  4.620229
17  106.214874  102.318326   99.926620  102.819940  4.632979
18  104.402538  102.168443   85.406668   97.325883  4.578065
19  101.682584  103.510441  113.895040  106.362688  4.666855
20  108.044287   99.065545  101.763273  102.957702  4.634318